# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

log4j.log
.idea/
*.iml

bin/
/build/
output.raw
output.res
.classpath
.settings
results

## -------------------------------
## Kate Swap Files
## -------------------------------
*.kate-swp
.#kate-*

## -------------------------------
## Backup artifacts
## -------------------------------
~*
*~
