<?xml version="1.0"?>
<plugins>

    <plugin name="tpcc">
    	<class>com.oltpbenchmark.benchmarks.tpcc.TPCCBenchmark</class>
   		<transactiontypes>
    		<transactiontype>
    			<name>NewOrder</name>
    			<id>1</id>
    			<weight>45</weight>
    		</transactiontype>
	    	<transactiontype>
    			<name>Payment</name>
    			<id>2</id>
    			<weight>43</weight>
	    	</transactiontype>
    		<transactiontype>
    			<name>OrderStatus</name>
    			<id>3</id>
    			<weight>4</weight>
	    	</transactiontype>
    		<transactiontype>
    			<name>Delivery</name>
    			<id>4</id>
    			<weight>4</weight>
	    	</transactiontype>
    		<transactiontype>
    			<name>StockLevel</name>
    			<id>5</id>
    			<weight>4</weight>
	    	</transactiontype>
   		</transactiontypes>
    </plugin>

    <plugin name="tatp">
        <class>com.oltpbenchmark.benchmarks.tatp.TATPBenchmark</class>
        <transactiontypes>
            <transactiontype>
                <name>DeleteCallForwarding</name>
                <weight>2</weight>
            </transactiontype>
            <transactiontype>
                <name>GetAccessData</name>
                <weight>35</weight>
            </transactiontype>
            <transactiontype>
                <name>GetNewDestination</name>
                <weight>10</weight>
            </transactiontype>
            <transactiontype>
                <name>GetSubscriberData</name>
                <weight>35</weight>
            </transactiontype>
            <transactiontype>
                <name>InsertCallForwarding</name>
                <weight>2</weight>
            </transactiontype>
            <transactiontype>
                <name>UpdateLocation</name>
                <weight>14</weight>
            </transactiontype>
            <transactiontype>
                <name>UpdateSubscriberData</name>
                <weight>2</weight>
            </transactiontype>
        </transactiontypes>
    </plugin>

    <plugin name="wikipedia">com.oltpbenchmark.benchmarks.wikipedia.WikipediaBenchmark</plugin>
    <plugin name="resourcestresser">
        <class>com.oltpbenchmark.benchmarks.resourcestresser.ResourceStresserBenchmark</class>
        <transactiontypes>
            <transactiontype>
                <name>CPU1</name>
                <weight>16.66</weight>
            </transactiontype>
            <transactiontype>
                <name>CPU2</name>
                <weight>16.66</weight>
            </transactiontype>
            <transactiontype>
                <name>IO1</name>
                <weight>16.66</weight>
            </transactiontype>
            <transactiontype>
                <name>IO2</name>
                <weight>16.66</weight>
            </transactiontype>
            <transactiontype>
                <name>CONTENTION1</name>
                <weight>16.66</weight>
            </transactiontype>
            <transactiontype>
                <name>CONTENTION2</name>
                <weight>16.67</weight>
            </transactiontype>
        </transactiontypes>
    </plugin>

    <plugin name="twitter">
        <class>com.oltpbenchmark.benchmarks.twitter.TwitterBenchmark</class>
        <transactiontypes>
            <transactiontype>
                <name>GetTweet</name>
                <weight>0.07</weight>
            </transactiontype>
            <transactiontype>
                <name>GetTweetsFromFollowing</name>
                <weight>0.07</weight>
            </transactiontype>
            <transactiontype>
                <name>GetFollowers</name>
                <weight>7.6725</weight>
            </transactiontype>
            <transactiontype>
                <name>GetUserTweets</name>
                <weight>91.2656</weight>
            </transactiontype>
            <transactiontype>
                <name>InsertTweet</name>
                <weight>0.9219</weight>
            </transactiontype>
        </transactiontypes>
    </plugin>

    <plugin name="epinions">
        <class>com.oltpbenchmark.benchmarks.epinions.EpinionsBenchmark</class>
        <transactiontypes>
            <transactiontype>
                <name>GetReviewItemById</name>
                <weight>10</weight>
            </transactiontype>
            <transactiontype>
                <name>GetReviewsByUser</name>
                <weight>10</weight>
            </transactiontype>
            <transactiontype>
                <name>GetAverageRatingByTrustedUser</name>
                <weight>10</weight>
            </transactiontype>
            <transactiontype>
                <name>GetItemAverageRating</name>
                <weight>10</weight>
            </transactiontype>
            <transactiontype>
                <name>GetItemReviewsByTrustedUser</name>
                <weight>10</weight>
            </transactiontype>
            <transactiontype>
                <name>UpdateUserName</name>
                <weight>10</weight>
            </transactiontype>
            <transactiontype>
                <name>UpdateItemTitle</name>
                <weight>10</weight>
            </transactiontype>
            <transactiontype>
                <name>UpdateReviewRating</name>
                <weight>10</weight>
            </transactiontype>
            <transactiontype>
                <name>UpdateTrustRating</name>
                <weight>20</weight>
            </transactiontype>
        </transactiontypes> 
    </plugin>

    <plugin name="ycsb">
        <class>com.oltpbenchmark.benchmarks.ycsb.YCSBBenchmark</class>
        <transactiontypes>
            <transactiontype>
                <name>ReadRecord</name>
                <weight>50</weight>
            </transactiontype>
            <transactiontype>
                <name>InsertRecord</name>
                <weight>50</weight>
            </transactiontype>
            <transactiontype>
                <name>ScanRecord</name>
                <weight>0</weight>
            </transactiontype>
            <transactiontype>
                <name>UpdateRecord</name>
                <weight>0</weight>
            </transactiontype>
            <transactiontype>
                <name>DeleteRecord</name>
                <weight>0</weight>
            </transactiontype>
            <transactiontype>
                <name>ReadModifyWriteRecord</name>
                <weight>0</weight>
            </transactiontype>
        </transactiontypes>
    </plugin>

    <plugin name="jpab">
        <class>com.oltpbenchmark.benchmarks.jpab.JPABBenchmark</class>
        <transactiontypes>
            <transactiontype>
                <name>Persist</name>
                <weight>25</weight>
            </transactiontype>
            <transactiontype>
                <name>Retrieve</name>
                <weight>25</weight>
            </transactiontype>
            <transactiontype>
                <name>Update</name>
                <weight>25</weight>
            </transactiontype>
            <transactiontype>
                <name>Delete</name>
                <weight>25</weight>
            </transactiontype>
        </transactiontypes>
    </plugin>

    <plugin name="seats">
        <class>com.oltpbenchmark.benchmarks.seats.SEATSBenchmark</class>
        <transactiontypes>
            <transactiontype>
                <name>DeleteReservation</name>
                <weight>10</weight>
            </transactiontype>
            <transactiontype>
                <name>FindFlights</name>
                <weight>10</weight>
            </transactiontype>
            <transactiontype>
                <name>FindOpenSeats</name>
                <weight>35</weight>
            </transactiontype>
            <transactiontype>
                <name>NewReservation</name>
                <weight>20</weight>
            </transactiontype>
            <transactiontype>
                <name>UpdateCustomer</name>
                <weight>10</weight>
            </transactiontype>
            <transactiontype>
                <name>UpdateReservation</name>
                <weight>15</weight>
            </transactiontype>
        </transactiontypes>
    </plugin>

    <plugin name="auctionmark">
        <class>com.oltpbenchmark.benchmarks.auctionmark.AuctionMarkBenchmark</class>
        <transactiontypes>
            <transactiontype>
                <name>GetItem</name>
                <weight>45</weight>
            </transactiontype>
            <transactiontype>
                <name>GetUserInfo</name>
                <weight>10</weight>
            </transactiontype>
            <transactiontype>
                <name>NewBid</name>
                <weight>20</weight>
            </transactiontype>
            <transactiontype>
                <name>NewComment</name>
                <weight>2</weight>
            </transactiontype>
            <transactiontype>
                <name>NewCommentResponse</name>
                <weight>1</weight>
            </transactiontype>
            <transactiontype>
                <name>NewFeedback</name>
                <weight>4</weight>
            </transactiontype>
            <transactiontype>
                <name>NewItem</name>
                <weight>10</weight>
            </transactiontype>
            <transactiontype>
                <name>NewPurchase</name>
                <weight>5</weight>
            </transactiontype>
            <transactiontype>
                <name>UpdateItem</name>
                <weight>3</weight>
            </transactiontype>
        </transactiontypes>
    </plugin>

    <plugin name="chbenchmark">
    	<class>com.oltpbenchmark.benchmarks.chbenchmark.CHBenCHmark</class>
    	<transactiontypes>
            <transactiontype>
                <name>Q1</name>
                <weight>4</weight>
            </transactiontype>
            <transactiontype>
                <name>Q2</name>
                <weight>5</weight>
            </transactiontype>
            <transactiontype>
                <name>Q3</name>
                <weight>4</weight>
            </transactiontype>
            <transactiontype>
                <name>Q4</name>
                <weight>5</weight>
            </transactiontype>
            <transactiontype>
                <name>Q5</name>
                <weight>4</weight>
            </transactiontype>
            <transactiontype>
                <name>Q6</name>
                <weight>5</weight>
            </transactiontype>
            <transactiontype>
                <name>Q7</name>
                <weight>4</weight>
            </transactiontype>
            <transactiontype>
                <name>Q8</name>
                <weight>5</weight>
            </transactiontype>
            <transactiontype>
                <name>Q9</name>
                <weight>4</weight>
            </transactiontype>
            <transactiontype>
                <name>Q10</name>
                <weight>5</weight>
            </transactiontype>
            <transactiontype>
                <name>Q11</name>
                <weight>4</weight>
            </transactiontype>
            <transactiontype>
                <name>Q12</name>
                <weight>5</weight>
            </transactiontype>
            <transactiontype>
                <name>Q13</name>
                <weight>4</weight>
            </transactiontype>      
            <transactiontype>
                <name>Q14</name>
                <weight>5</weight>
            </transactiontype>      
            <transactiontype>
                <name>Q15</name>
                <weight>4</weight>
            </transactiontype>   
            <transactiontype>
                <name>Q16</name>
                <weight>5</weight>
            </transactiontype>
            <transactiontype>
                <name>Q17</name>
                <weight>4</weight>
            </transactiontype>   
            <transactiontype>
                <name>Q18</name>
                <weight>5</weight>
            </transactiontype>   
            <transactiontype>
                <name>Q19</name>
                <weight>4</weight>
            </transactiontype>
            <transactiontype>
                <name>Q20</name>
                <weight>5</weight>
            </transactiontype>
            <transactiontype>
                <name>Q21</name>
                <weight>5</weight>
            </transactiontype>
            <transactiontype>
                <name>Q22</name>
                <weight>5</weight>
            </transactiontype>
    </transactiontypes> 
    </plugin>
    
    <plugin name="voter">
        <class>com.oltpbenchmark.benchmarks.voter.VoterBenchmark</class>
        <transactiontypes>
            <transactiontype>
                    <name>Vote</name>
                    <weight>100</weight>
            </transactiontype>
        </transactiontypes>
    </plugin>
</plugins>
