<?xml version="1.0"?>
<plugins>
    <plugin name="tpcc">
    	<class>com.oltpbenchmark.benchmarks.tpcc.TPCCBenchmark</class>
   		<transactiontypes>
    		<transactiontype>
    			<name>NewOrder</name>
    			<id>1</id>
    			<weight>45</weight>
    		</transactiontype>
	    	<transactiontype>
    			<name>Payment</name>
    			<id>2</id>
    			<weight>43</weight>
	    	</transactiontype>
    		<transactiontype>
    			<name>OrderStatus</name>
    			<id>3</id>
    			<weight>4</weight>
	    	</transactiontype>
    		<transactiontype>
    			<name>Delivery</name>
    			<id>4</id>
    			<weight>4</weight>
	    	</transactiontype>
    		<transactiontype>
    			<name>StockLevel</name>
    			<id>5</id>
    			<weight>4</weight>
	    	</transactiontype>
   		</transactiontypes>
    </plugin>
    <plugin name="tatp">com.oltpbenchmark.benchmarks.tatp.TATPBenchmark</plugin>
    <plugin name="wikipedia">com.oltpbenchmark.benchmarks.wikipedia.WikipediaBenchmark</plugin>
    <plugin name="resourcestresser">com.oltpbenchmark.benchmarks.resourcestresser.ResourceStresserBenchmark</plugin>
    <plugin name="twitter">com.oltpbenchmark.benchmarks.twitter.TwitterBenchmark</plugin>
    <plugin name="epinions">com.oltpbenchmark.benchmarks.epinions.EpinionsBenchmark</plugin>
    <plugin name="ycsb">com.oltpbenchmark.benchmarks.ycsb.YCSBBenchmark</plugin>
    <plugin name="jpab">com.oltpbenchmark.benchmarks.jpab.JPABBenchmark</plugin>
    <plugin name="seats">com.oltpbenchmark.benchmarks.seats.SEATSBenchmark</plugin>
    <plugin name="auctionmark">com.oltpbenchmark.benchmarks.auctionmark.AuctionMarkBenchmark</plugin>
    <plugin name="chbenchmark">
    	<class>com.oltpbenchmark.benchmarks.chbenchmark.CHBenCHmark</class>
    	<transactiontypes>
            <transactiontype>
                <name>Q1</name>
                <weight>4</weight>
            </transactiontype>
            <transactiontype>
                <name>Q2</name>
                <weight>5</weight>
            </transactiontype>
            <transactiontype>
                <name>Q3</name>
                <weight>4</weight>
            </transactiontype>
            <transactiontype>
                <name>Q4</name>
                <weight>5</weight>
            </transactiontype>
            <transactiontype>
                <name>Q5</name>
                <weight>4</weight>
            </transactiontype>
            <transactiontype>
                <name>Q6</name>
                <weight>5</weight>
            </transactiontype>
            <transactiontype>
                <name>Q7</name>
                <weight>4</weight>
            </transactiontype>
            <transactiontype>
                <name>Q8</name>
                <weight>5</weight>
            </transactiontype>
            <transactiontype>
                <name>Q9</name>
                <weight>4</weight>
            </transactiontype>
            <transactiontype>
                <name>Q10</name>
                <weight>5</weight>
            </transactiontype>
            <transactiontype>
                <name>Q11</name>
                <weight>4</weight>
            </transactiontype>
            <transactiontype>
                <name>Q12</name>
                <weight>5</weight>
            </transactiontype>
            <transactiontype>
                <name>Q13</name>
                <weight>4</weight>
            </transactiontype>      
            <transactiontype>
                <name>Q14</name>
                <weight>5</weight>
            </transactiontype>      
            <transactiontype>
                <name>Q15</name>
                <weight>4</weight>
            </transactiontype>   
            <transactiontype>
                <name>Q16</name>
                <weight>5</weight>
            </transactiontype>
            <transactiontype>
                <name>Q17</name>
                <weight>4</weight>
            </transactiontype>   
            <transactiontype>
                <name>Q18</name>
                <weight>5</weight>
            </transactiontype>   
            <transactiontype>
                <name>Q19</name>
                <weight>4</weight>
            </transactiontype>
            <transactiontype>
                <name>Q20</name>
                <weight>5</weight>
            </transactiontype>
            <transactiontype>
                <name>Q21</name>
                <weight>5</weight>
            </transactiontype>
            <transactiontype>
                <name>Q22</name>
                <weight>5</weight>
            </transactiontype>
    </transactiontypes> 
    </plugin>
    <plugin name="voter">com.oltpbenchmark.benchmarks.voter.VoterBenchmark</plugin>
</plugins>
